*{
  margin: 0;
  padding: 0;
}

body{
  background-color: bisque;
}
nav{
  background-color: blueviolet;
  padding: 16px ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a{
  margin: 0px 10px ;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button{
  border: none;
  padding: 10px;
  background-color: blue;
  color: aliceblue;
  border-radius: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

button:hover{
  border: 1px solid red;
  background-color: blueviolet;
  color: aliceblue;
  box-sizing: border-box;
}

img{
  border-radius: 20px;
}

/* Responsive Design */
@media(max-width: 786px){
  nav{
    background-color: orchid;
  }
  a{
    color: darkcyan;
  }
  button{
    background-color: teal ;
  }
}

@media(max-width: 540px) {
  nav{
    background-color: orange;
    display: flex;
    flex-direction: column;
    gap: 25px
    ;
  }

  div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  a{
    background-color: yellow;
    color: gray;
    padding: 0px 30px;
    border-radius: 10px;
  }
    
  a:hover{
    color: red;
  }
  img{
    width: 80px;
    border-radius: 0;
  }

  img:hover{
    border-radius: 50%;
  }

  button{
    background-color: green;
  }

  button:hover{
    background-color: blue;
  }

  
}